*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  
  color:black;
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
  background img:https://wallpaperboat.com/wp-content/uploads/2019/10/programming-14-920x518.jpg;
  overflow : scroll;
}

nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
nav{
  height: 70px;
  background: #063247;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #063247;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
section{
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background img:https://www.google.com/imgres?imgurl=https%3A%2F%2Fwallpaperboat.com%2Fwp-content%2Fuploads%2F2019%2F10%2Fprogramming-14.jpg&imgrefurl=https%3A%2F%2Fwallpaperboat.com%2Fprogramming-wallpapers&tbnid=2sN4FSaK9VtwBM&vet=12ahUKEwju4s3eu-34AhUBBbcAHfW8B6oQMygVegUIARDxAQ..i&docid=oX6hdHHhOu5KBM&w=1920&h=1080&q=Programming%20background&ved=2ahUKEwju4s3eu-34AhUBBbcAHfW8B6oQMygVegUIARDxAQ;
}
.wrapper{
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 365px;
  background: #fff;
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  text-align: center;
}
.wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: #fff;
  background: #FCBA7F;
}
.wrapper img{
  max-width: 90px;
}
.content header{
  font-size: 25px;
  font-weight: 600;
}
.content{
  margin-top: 10px;
}
.content p{
  color: #858585;
  margin: 5px 0 20px 0;
}
.content .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #FCBA7F;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button:hover{
  transform: scale(0.97);
}
.buttons .item{
  margin: 0 10px;
}
.buttons a{
  color: #FCBA7F;
}
#countdown-container {
  display: inline-block; 
  width: 300px; 
  margin: 20px 0; 
  border-radius: 5px; 
  background: #1d81af; 
}
#countdown {
  font-family: "Fira Sans", sans-serif;
  display: inline-block; 
  padding: 30px; 
  background: #1d81af;
  color: white; 
}

#countdown span {
  font-weight: bold; 
  font-size: 30px; 
}
